body {
    background-color: #fcc8c7;
}

.border {
    border: 2px solid transparent;
    border-radius: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.item {
    height: 700px;
    width: 100%;
    margin-top: 75px;
    margin-bottom: 120px;
    border: 0px solid transparent;
    border-radius: 10px;
    box-shadow: 8px 8px 24px 2px rgba(0, 0, 0, 0.72);
}

.meta {
    background-color: #5fa55a;
}

.responsive {
    background-color: #01b4bc;
}

.http {
    background-color: #f6d51f;
}

.https {
    background-color: #fa8925;
}

.compressed-data {
    background-color: #fa5457;
}

.cdn {
    background-color: #5fa55a;
}

.local-bootstrap {
    background-color: #01b4bc;
}

.jquery {
    background-color: #f6d51f;
}

.flexbox {
    background-color: #fa8925;
}

.grid {
     background-color: #fa5457;
}

.code-snippets {
    background-color: #5fa55a;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 70px;
    text-align: left;
    position: relative;
    left: 10px;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    text-align: left;
    position: relative;
    left: 10px;
    bottom: 10px;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
    position: relative;
    left: 10px;
}

.meta-div {
    position: relative;
    top: 80px;
    left: 130px;
    width: 300px;
    border-left: 2px solid black;
}

.meta-img {
    width: 500px;
    position: relative;
    left: 460px;
    bottom: 200px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.responsive-div {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: auto;
    width: 300px;
    border-left: 2px solid black;
}

.responsive-img {
    position: relative;
    left: 515px;
    bottom: 275px;
    width: 450px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.item-div {
    margin-top: 40px;
    margin-left: 200px;
    margin-right: auto;
    width: 300px;
    border-left: 2px solid black;
}

.http-img {
    width: 150px;
    position: relative;
    bottom: 335px;
    left: 385px;
}

.http-img1 {
    width: 430px;
    position: relative;
    left: 400px;
    bottom: 250px;
    border: 1px solid transparent;
    border-radius: 10px;
}

.https-img {
    width: 300px;
    position: relative;
    left: 575px;
    bottom:220px;
}

.compressed-img {
    width: 360px;
    position: relative;
    left: 575px;
    bottom: 280px;
}

.cdn-img {
    width: 400px;
    position: relative;
    left: 600px;
    bottom: 250px;
}

.bootstrap-img {
    width: 350px;
    position: relative;
    left: 600px;
    bottom: 290px;
}

.jquery-img {
    width: 450px;
    position: relative;
    left: 550px;
    bottom: 250px;
}

.flexbox-img {
    width: 500px;
    position: relative;
    left: 575px;
    bottom: 220px;
}

.grid-img {
    width: 250px;
    position: relative;
    left: 550px;
    bottom: 225px;
}

.snippets-img {
    width: 500px;
    position: relative;
    left: 580px;
    bottom: 225px;
}